<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>


	<form method="post" action="admin" th:each="user : ${getUser}">
		<input type="text" value="EDIT USER" readonly="true"></input>
		<br></br>
		<input type="text" name="id" th:value="${user.id}" readonly="true"></input>
		<br></br>
		<input type="text" name="first_name" th:value="${user.firstName}" readonly="true">first name</input>
		<br></br>
		<input type="text" name="last_name" th:value="${user.lastName}"	readonly="true">last name</input>
		<br></br>
		<input type="text" name="mail" th:value="${user.mail}" readonly="true">mail</input> 
		<br></br>
		<input type="text" name="status" th:value="${user.status}">status</input>
		<br></br>
		<button type="submit" name="edit" th:value="user">edit user</button>
		<button type="submit" name="delete" th:value="user">delete
			user</button>
	</form>



	<form method="post" action="admin" th:each="item : ${getItem}">
		<input type="text" value="EDIT ITEM" readonly="true"> </input> <br></br>
		<input type="text" name="id" th:value="${item.id}" readonly="true">
		</input> <br></br> <input type="text" name="type" th:value="${item.type}">type</input>
		<br></br> <input type="text" name="name" th:value="${item.name}">name
		</input> <br></br> <input type="number" name="price" th:value="${item.price}">price</input>
		<br></br>
		<button type="submit" name="edit" value="item">edit item</button>
		<button type="submit" name="delete" value="item">delte item</button>

	</form>



	<form method="post" action="admin">
			<input type="text" value="ADD NEW ITEM" readonly="true"> </input> <br></br>	
		<input type="text" name="type">set type</input>
		<br></br>
		<input type="text" name="name">set name</input>
		<br></br>
		<input type="text" name="price">set price</input>
		<br></br>
		<button type="submit" name="add" th:value="item">add item</button>
	</form>


	<form method="post" action="admin">
		<input type="number" name="id">get by ID </input>
		<button type="submit" name="get" value="user">Get User</button>
		<button type="submit" name="get" value="item">Get Item</button>
		</form>
	<textarea rows="1" cols="100" th:text="${msg}"></textarea>

	<br></br>
	<textarea rows="1" cols="100" >Users list</textarea>

	<div class="table-responsive">
		<table class="table table-hover" id="table">
			<thead class="thead-inverse">
				<tr>
					<th>id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Mail</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${allUsers}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.mail}"></td>
					<td th:text="${user.status}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br></br>
	<textarea rows="1" cols="100" >Items list</textarea>
	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-inverse">
				<tr>
					<th>id</th>
					<th>type</th>
					<th>name</th>
					<th>price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${allItems}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.type}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
				</tr>
			</tbody>
		</table>
	</div>	
</body>

</html>