<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body>

	<form method="post" action="index">
		<input type="text" name="mail">mail</input> <br></br>
		 <input	type="text" name="password">password </input> <br></br>
		<button type="submit" name ="login">login</button>
	</form>
	
	
	
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<form method="post" action="index">
		 <input type="text" name="first_name">first name</input> <br></br>
		 <input	type="text" name="last_name">last name </input> <br></br>
		 <input type="text" name="mail">mail</input> <br></br>
		 <input	type="text" name="password">password </input> <br></br>
		 <input	type="text" name="password_repeat">repeat password </input> <br></br>
		<button type="submit" name="signup">signup</button>
	</form>
	
		<textarea rows="1" cols="100" th:text="${msg}"></textarea>
	
	
</body>
</html>