<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Login</title>
</head>
<body>

	<form method="post" action="login">
		<input type="text" name="mail">mail</input> <br></br>
		 <input	type="text" name="password">password </input> <br></br>
		<button type="submit" name ="login">login</button>
	</form>	
	
			<textarea rows="1" cols="100" th:text="${msg}"></textarea>
	
</body>
</html>