<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Profile</title>
</head>
<body>

	
	<form method="post" action="profile" th:each="user : ${profile}">
		<input type="text" name="first_name" th:text="${user.firstName}"></input> <br></br> 
		<input type="text" name="last_name" th:text="${user.lastName}"> </input> <br></br>
		<input type="text" name="mail" th:text="${user.mail}"></input> <br></br> 
		<input type="text" name="password">new password</input> <br></br>
		<input type="text" name="password_repeat">repeat new password</input> <br></br>
		<button type="submit">submitt</button>
	</form>
</body>

</html>