<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Web Shop</title>
</head>
<body>
	<form method="post" action="webshop">
		<textarea rows="1" th:text="${userName}"></textarea>
		<button type="submit" name="profile">press to edit profile</button>
	</form>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-inverse">

				<tr>
					<th>id</th>
					<th>type</th>
					<th>name</th>
					<th>price</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="item : ${allItems}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.type}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>